*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
header{
    padding: 20px;
    height: 80px;
}
nav{
    display: flex;
    justify-content: space-between;
}
ul{
    display: flex;
    gap: 10px;
}
li{
  text-transform: capitalize;
}
a{
    color: gray;
    text-decoration: none;
}

.star{
    background-color: blue;
    color: white;
    padding: 5px;
}
.star:hover{
    opacity: 0.8;
}
li{
    list-style-type: none;
}
.boite{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.petit{
    display: flex;
    position: relative;
    bottom: -50px;
    
    
}
.small{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    gap: 20px;
    
}

.jumb{
    width: 70%;
    
}
    
h1{
    font-size: 80px;
}
.one{
    background-color:lightskyblue;
}
#down{
    font-size: 50px;
    color: black;
}