*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: sans-serif;
}
header{
    padding: 20px;
    height: 80px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.first{
    display: flex;
    gap: 10px;
}
li{
  text-transform: capitalize;
}
 .first a{
    color: gray;
    text-decoration: none;
}

.star{
    background-color: blue;
    color: white;
    padding: 5px;
}
.star:hover{
    opacity: 0.8;
}
.first li{
    list-style-type: none;
}
.boite{
    width: 80%;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.petit{
    display: flex;
    position: relative;
    bottom: -50px;
    
    
}
.small{
    display: flex;
    flex-basis: 30%;
    flex-direction: column;
    gap: 20px;
    
}

.jumb{
    width: 70%;
    
}
    
h1{
    font-size: 80px;
}
.one{
    background-color:lightskyblue;
}
.two{
    width: 70%;
    margin: 0 auto;
    padding-top: 90px;
}
.col{
    display: flex;
    gap: 30px;
    padding-top: 30px;
}
.selec{
    padding-top: 40px;
    display: flex;
    justify-content:space-between ;
    
}
.nom{
    border: 1px solid grey;
    text-align: center;
}
.singo{
    border: 1px solid grey;
    width:300px;
    height: 850px;
}
.man li{
 padding: 15px;
 list-style-type: none;
 font-size: small;
}
.mois{
    color: grey;
}
.check{
   color: red;
    font-size: large;
}
.tre{
    padding-top: 50px;
}
.prime{
    width: 70%;
    margin: 0 auto;
    height: 200px;
    border: 1px solid gray;

}
.tall{
    border: 1px solid grey;
    text-align: center;  
}
.tre1 ul{
    display: flex;
    list-style-type: none;
justify-content: space-between;
padding: 20px;
}
.lien{
    color: gray;
    text-decoration: none;
    padding: 20px;
    width: 70%;
}
.for{
    padding-top: 150px;
    width: 70%;
    margin: 0 auto;
    
    
}
.foron{
    display: flex;
    height: 540px;
}
.texte{
    padding: 50px;
}
.trova{
    padding: 10px;
}
.texte p{
    padding-top: 20px;
}
.pri{
    padding-top: 30px;
}
